xml/src/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<xsd:complexType name="employeeType">
  <xsd:sequence>
      <xsd:element name="empno" type="xsd:int" />
      <xsd:element name="empname" type="xsd:string" />
      <xsd:element name="salary" type="xsd:int" />
  </xsd:sequence>
</xsd:complexType>
    <xsd:element name="organization">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="employee" type="employeeType" minOccurs="1" maxOccurs="5" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>