xml/src/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="person">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="age" type="xsd:int" />
            <xsd:element name="city" type="xsd:string" />
            <xsd:element name="phone" type="xsd:string" minOccurs="1" maxOccurs="5" />
            <xsd:element name="email" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="citizen" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
</xsd:schema>